body {
    background-color: goldenrod
}

@font-face {
    font-family: dinerFontimport;
    src: url(../image/dinerFont.ttf);
}

h1 {
    font-family: dinerFontimport;
    text-align: center;
    text-shadow: 0 0 11px red;
    color: black;
    font-size: 80px;
    padding-top: 30px;
}

.container {
    background-color: white;
}

.create {
    margin-top: 10px;
}

img {
    height: 225px;
    width: 210px;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}